body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #1a1b26;
    margin: 0;
}

#sidebar {
    background-color: #f4a261;
    width: 360px;
    position: fixed;
    height: 100vh;
    padding: 20px;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.form-control {
    background-color: #ffffff;
    color: #1a1b26;
    border: 1px solid #f4a261;
    border-radius: 5px;
    width: 95%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
}

.form-label {
    color: #1a1b26;
}

#processBtn,
#askBtn {
    background-color: #e76f51;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#processBtn:hover,
#askBtn:hover {
    background-color: #e17055;
}

#uploadedItems {
    background-color: #f4a261;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #e76f51;
    max-width: 95%;
    color: #1a1b26;
    max-height: 200px;
    overflow-y: auto;
}

.container {
    margin-left: 400px;
    padding: 30px;
}

#response {
    background-color: #f4a261;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e76f51;
    color: #1a1b26;
    font-size: 16px;
    max-height: 300px;
    overflow-y: auto;
}

.user-message,
.assistant-message {
    margin-bottom: 10px;
    color: #1a1b26; /* Set text color to black */
}

.user-message p {
    font-weight: bold;
}

.assistant-message p {
    font-weight: bold;
    color: #1a1b26; /* Set text color to black */
}